.card {
  width: 22rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.photo {
  width: 19rem;
  height: 19rem;
  background-color: #202020;
  border: 5px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

.name {
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #93ff12;
}
