.message {
  position: relative;
  margin: 0 auto;
  width: 70%;
  border-radius: 20px;
  margin-top: 0.9rem;
  padding: 0.5rem;
}

h {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

span {
  font-size: 0.9rem;
}

.avatar {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  left: -2rem;
  border-radius: 50%;
  background-color: white;
}
