.header {
	height: 4rem;
	font-size: 1.2rem;
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: end;
}

.header__link {
	margin-right: 7rem;
	color: var(--block-color);
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

.header__link:hover {
	color: var(--hover-links-color);
}
